
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
  margin: 0;
  padding: 0;
}

img {
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td > nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
  white-space: nowrap;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

table {
  background-color: black;
}

@media (max-width: 575px) {
  nav {
    grid-template-columns: repeat(2, 1fr);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 191px;
  height: 127px;
}

h1, h3 {
  margin-top: 50px;
  font-size: 48px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  text-align: left;
}

.videos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

iframe,
video {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 545px;
  height: 300px;
}

iframe:last-child,
video:last-child {
  margin-right: 0;
}

@media (max-width: 575px) {

  iframe,
  video {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
}

h1 + ul {
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  list-style: disc;
  margin-left: 2rem;
  padding-left: 0;
}

ul::first-line {
  color: green;
}

ul li {
  margin-bottom: 1rem;
  font-size: 20px;
}

ul li ul li {
  list-style: circle;
  margin-left: 2rem;
}

ol ~ li {
  font-family: Arial, sans-serif;
  font-size: 20px;
  list-style: decimal;
  margin-left: 2rem;
  padding-left: 0;
}

ol li {
  margin-bottom: 1rem;
}

#my-grid {
  display: flex;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

audio[src] {
  width: 100%;
  max-width: 500px;
  margin: 20px 0;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
}

.gallery-image {
  width: 95%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.1);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.lightbox-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 575px) {
  nav {
    grid-template-columns: repeat(2, 1fr);
  }
}

.splash-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('assets/keyboards.png') no-repeat center center;
  background-size: cover;
  text-align: center;
}
.splash-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.splash-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2em;
}
.splash-button {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
  margin-top: 20px;
}
.splash-button:hover {
  background: #333;
  color: #fff;
  transition: all 0.3s ease;
}

.purple-button {
  padding: 10px;
  width: 30px;
  height: 30px;
  border: none;
  margin-right: 5px;
  background-color: #613659;
}

.blue-button {
  padding: 10px;
  width: 30px;
  height: 30px;
  border: none;
  margin-right: 5px;
  background-color: #43B0F1;
}

.lightblue-button {
  padding: 10px;
  width: 30px;
  height: 30px;
  border: none;
  margin-right: 5px;
  background-color: #a7c5eb;
}
